<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69763492633-5hjnv058d82bmap0dqko41g9nu7g1qvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69763492633-5hjnv058d82bmap0dqko41g9nu7g1qvj</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLgbntO_fuaLYT37MDdgFLdkOsopY6vY</string>
	<key>GCM_SENDER_ID</key>
	<string>69763492633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oshigamimeguri.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>oshi-gami-meguri</string>
	<key>STORAGE_BUCKET</key>
	<string>oshi-gami-meguri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69763492633:ios:93e55ac4a3e194d4a5f388</string>
</dict>
</plist>